
*{
    text-align: center;
}
body{
    background-color: rgb(190, 211, 229);
    
    
}


table{
    text-align: center;
    height: 200px;
    margin: auto;
    margin-top: 10px;
}

td{
    background-color: rgb(228, 225, 225);
    border: black solid 1px;
    height: 40px;
    width: 40px;
    cursor: pointer

}
td:hover{
    background-color: rgb(172, 150, 150);

}

button{
    background-color: rgb(202, 186, 186);
    height: 70px;
    width: 90px;
    cursor: pointer
    
}
button:hover{
    background-color: rgb(172, 150, 150);
    
}
.timer{
    font-size: 50px;
    margin-top: 10px;
}
#new-game{
    background-color: rgb(252, 181, 181);
    font-size: 25px;
}
#new-game:hover{
    background-color: rgb(252, 156, 156);
    font-size: 25px;
    

}